{{#if view.fb_page}}
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F{{unbound view.fb_page}}&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
{{else}}
    {{#if currentUser.admin }}
        <strong>Please configure the <a href="/admin/site_settings/category/uncategorized">facebook page handle</a></strong>
    {{/if}}
{{/if}}