var patcher = window.TemplatePatcher;

// patcher.setDebug(true);
// patcher.setFinder('main-outlet');

var patched = '<div class="side-bar"><section class="main-outlet-wrap">{{outlet}}</section><aside class="sidebar">{{view Discourse.SidebarView}}</aside></div>'

// wrap outlet into our section, attach aside
patcher.addGeneralPatcher("402687e3b577ae3aadf82473dd6e4323", function(ast, hash, str){
    patcher.replaceWith(ast, 3, patched);
});


function un_full_width(ast, hash, str){
    return Handlebars.parse(str.replace("full-width", ""));
};

patcher.addGeneralPatcher("e2c98d5525a295d87656569cc62d41c6", un_full_width);
patcher.addGeneralPatcher("f22c385e76a8279efe4b6223522346e3", un_full_width)


// we also need to create this view early so other plugins can attach
// to it.

Discourse.SidebarView = Discourse.ContainerView.extend({
    init: function(){
        this._super();
        var widgets = Discourse.SiteSettings.sidebar_widgets.split("|") || ["stats"];

        widgets.forEach(function(item, idx){
            var view = this.get(item);
            if (!view) return;
            this.pushObject(view);
        }.bind(this));

        var router = Discourse.URL.get("router");
        router.addObserver("url", this, "urlChanged");
        this.urlChanged(router); // initial call
    },

    urlChanged: function(router) {
        var url = router.get("url"),
            handlerInfos = router.router.currentHandlerInfos,
            deepest = handlerInfos.length ? handlerInfos[handlerInfos.length -1] : "",
            controllerName = deepest.name,
            data = {url: url, handlerInfos: handlerInfos,
                    currentControllerName: controllerName,
                    currentController: deepest};

        if (url.indexOf("/admin/") === 0){
            // we are on admin-pages. HIDE!
            $(".sidebar").hide();
            $(".main-outlet-wrap").css("width", "100%");
        } else {
            $(".sidebar").show();
            $(".main-outlet-wrap").css("width", "");
        }

        this.forEach(function(view){
            view.setProperties(data);
            view.trigger("urlChanged");
        });
    }
});