@import "common/foundation/variables.scss";

.global-side-bar.no-side-bar > aside.side-bar {
    display: none;
}

.global-side-bar.no-side-bar > section.main-outlet-wrap {
  width: 100%;
}

.side-bar-wrap {

  section.main-outlet-wrap {
    width: 73%;
    display: inline-block;
  }

  aside.side-bar {
    display: inline-block;
    width: 25%;
    margin-left: 4%;
    float: right;
    .suggested-topics {
      .num {
        display: none;
      }
    }
  }

  // fix hard-coded overflow issues
  .full-width {
    width: auto;
  }
  // unfortunately that means we don't have space for the gutter, hide it
  .topic-post .gutter {
    display: none;
  }

  // but we make the other things bigger: yay \o/
  .container.posts {
    padding-left: 3%;
  }

  .container.posts .topic-body {
    width: 90%;
  }

  #topic-title {
    padding-left: 20px;
  }

  // user profiles
  .user-main {
    max-width: 68%;
  }
  .user-navigation {
    max-width: 29%;
  }

  .unanswered-topics ul,
  .suggested-topics ul {
    list-style: none;
  }
  .unanswered-topics .like-count,
  .suggested-topics .like-count {
    display: inline-block;
    color: white;
    margin-left: -1.3em;
    margin-right: 1.25em;
    line-height: 2em;
    vertical-align: top;
  }
  aside.side-bar .notification-options {
    display: inline-block
  }

  aside.side-bar .notification-options .dropdown-toggle {
    float: none;
  }
}

// Sidebar Widget default designs:

.side-bar-wrap aside.side-bar {
  ul.categories-list {
    list-style: none;
    margin: 0;
    li {
      margin: 0.5em 0;
      display: inline-block;
      .clear-badge {
        color: $primary;
      }
    }
  }

}

@media screen and (min-width: 1550px) {
  section.main-outlet-wrap {
    .full-width {
        width: auto;
    }
  }
}

@media screen and (min-width: 967px) and (max-width: 1139px) {
  .side-bar-wrap {
    .container,
    .full-width {
      width: auto;
    }
  }
}


@media all and (max-width: 850px) {
  // body {
  //   min-width: 760px;
  // }
  .side-bar-wrap {
    .container,
    .full-width {
      min-width: auto;
    }
  }
}

@media screen and (max-width: 966px) {

  .side-bar-wrap {
    .container,
    .full-width {
      width: auto;
    }
  }
}
