
.side-bar section.main-outlet-wrap {
    width: 73%;
    display: inline-block;
}

.side-bar aside.sidebar {
    display: inline-block;
    width: 25%;
    margin-left: 1%;
    float: right;
    .suggested-topics {
      .num {
        display: none;
      }
    }
}

.no-sidebar aside.sidebar {
    display: none;
}

// unfortunately that means we don't have space for the gutter, hide it
.topic-post .gutter {
  display: none;
}

// but we make the other things bigger: yay \o/
.container.posts {
  padding-left: 3%;
}

.container.posts .topic-body {
  width: 90%;
}

#topic-title {
  padding-left: 20px;
}

// user profiles
.user-main {
  max-width: 68%;
}
.user-navigation {
  max-width: 29%;
}

.side-bar .unanswered-topics .like-count,
.side-bar .suggested-topics .like-count {
  display: inline-block;
  color: white;
  margin-left: -1.3em;
  margin-right: 1.25em;
  line-height: 2em;
  vertical-align: top;
}

.side-bar .unanswered-topics ul,
.side-bar .suggested-topics ul {
  list-style: none;
}

// fix hard-coded overflow issues


@media screen and (min-width: 1550px) {
    .full-width {
        width: 100%;
    }
}

@media screen and (min-width: 967px) and (max-width: 1139px) {
  .container,
  .full-width {
    width: 100%;
  }
}

@media screen and (max-width: 966px) {

  .container,
  .full-width {
    width: 100%;
  }
}