{{#if view.categories }}
    <h3>Categories</h3>
    <ul class="categories-list">
    {{#each category in view.categories}}
      <li>{{bound-category-link category showParent=false allowUncategorized=false onlyStripe=false}}</li>
    {{/each}}
    </ul>
{{/if}}
