{{#if view.fb_page}}

  <div class="fb-page" data-href="https://www.facebook.com/werweisswas" data-height="290" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/werweisswas">
        <a href="https://www.facebook.com/werweisswas">wer-weiss-was.de</a>
      </blockquote>
    </div>
  </div>

{{else}}
  {{#if currentUser.admin }}
    <strong>Please configure the <a href="/admin/site_settings/category/uncategorized">facebook page handle</a></strong>
  {{/if}}
{{/if}}
