<button {{action "showLogin"}} class='btn btn btn-small login-button'>
  {{i18n 'log_in'}}
</button>

<button {{action "showLogin"}} class='btn btn-primary btn-small login-button'>
  {{i18n 'create_account.action'}}
</button>
